.header_innerBox {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.header_innerBox_center {
  display: flex;
  min-width: 1200px;
}
.header_innerBox_center_left {
  display: flex;
}
