html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#Home_wrapper {
  min-height: 100%;
  position: relative;
}

#Home_content {
  margin-top: 100px;
  padding-bottom: 220px;
}

.main_archive {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
