a {
  text-decoration-line: none;
}
.shortcut_innerBox {
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.shortcut_innerBox > div {
  display: inline;
}

.shortcut_smallLink {
  border-radius: 5px;
  background-color: #fff;
  padding: 3px;
  color: gray;
}
