a {
  text-decoration-line: none;
}
.shortcut_innerBox {
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  /* padding-top: 10px; */
}

.flexBox {
  display: flex;
}

.shortcut_smallLink {
  min-width: 65px;
  display: inline-block;
  border-radius: 30px;
  background-color: #fff;
  padding: 3px;
  color: lightgray;
  word-break: normal;
  font-size: 14px;
  text-align: center;
}
