.login-box {
  background-color: darkgray;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.login-header > div button:first-child {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login-header > div button:last-child {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.login-header > button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.login-main {
  background-image: url("../Img/login-char.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 600px;
}
.login-main p {
  font-size: 50px;
  color: white;
  text-align: center;
  letter-spacing: -0.3rem;
}

.login-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.login-text > button {
  width: 600px;
  height: 80px;
  background-color: rgb(246, 133, 0);
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-text div:first-child {
  width: 600px;
  height: 80px;
  background-color: rgb(246, 133, 0);
  color: white;
  font-size: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.login-text div:nth-child(2) {
  background-color: #17151c;
  color: white;
  width: 600px;
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-text div:nth-child(2) > input {
  width: 450px;
  height: 75px;
  border: none;
  background-color: #17151c;
}

.login-text div:nth-child(2) span {
  font-size: 20px;
}

.login-text div:nth-child(2) input:last-child {
}

.login-footer {
  height: 150px;
  background-color: rgb(246, 133, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
